<div class="body">
  <div class="form">
    <h1 class="form_title">Log In</h1>
    <h2 class="form_title_h2">
      New to this site?
      <a href="#" (click)="onSignUp()" onclick="return false;">Sign Up</a>
    </h2>
    <div class="form_group">
      <label class="form_label">Email</label>
      <dx-text-box class="form_input" [(value)]="user.email">
        <dx-validator (onValidated)="onValidatedEmail($event.isValid)">
          <dxi-validation-rule type="required" message="Email is required">
          </dxi-validation-rule>
          <dxi-validation-rule type="email" message="Email is invalid">
          </dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
    <div class="form_group">
      <label class="form_label">Password</label>
      <dx-text-box class="form_input" mode="password" [(value)]="user.password">
        <dx-validator (onValidated)="onValidatedPassword($event.isValid)">
          <dxi-validation-rule type="required" message="Password is required">
          </dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
    <h2 class="form_title_h2_left">
      <a href="#" (click)="onForgotPassword()" onclick="return false;">
        Forgot password?
      </a>
    </h2>
    <dx-button
      class="form_button"
      [disabled]="!isDisabled"
      text="Log In"
      (onClick)="onLogIn()"
    >
    </dx-button>
  </div>
</div>
