<div class="left_part">

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>

<div class="right_part">
    <h2 class="text_green">Our Location</h2>
    <p>500 Terry Francois Street San Francisco, CA 94158</p>
    <h2 class="text_green_1">Contacts</h2>
    <p>Tel: +1 (234) 5678 9101</p>
    <p>Fax: +1 (234) 5678 9101</p>
    <p>For all questions, please contact us by email: vetclinic@gmail.com</p>
</div>