<div class="service-element">
    <!--<div class="row_parts" data-aos="fade-up" data-aos-delay="">-->
        <div class="element">
            <img class="img" src="../assets/images/doctor-3.jpeg">
            <h3 class="text_green">Service 1</h3>
            <p data-aos="fade-up" data-aos-delay="100">
                I'm a paragraph. Click here to add your own text and edit me. Let your users get to know
                you.
            </p>

            <!-- <button [routerLink]="['/service', 111]" class="btn">Read More</button> -->
        </div>
    <!--</div>-->
</div>

