<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div id="app">
    <div class="top-bar">
      <div class="container_1">
        <div class="row">
          <div class="col">
            <a href="#" class="text-white">
              <span class="mr">
                <img class="icon" src="../assets/images/location-icon.png">
              </span>
              <span>500 Terry Francois Street San Francisco, CA 94158</span>
            </a>

            <span class="dividing-block"></span>

            <div class="float-right">
              <a href="#" class="text-white">
                <span class="mr">
                  <img class="icon" src="../assets/images/telephone-icon.png">
                </span>
                <span>+1 (234) 5678 9101</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="border-bottom: solid 30px #f2f2f2;"></div>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
      <div class="container_2">

        <span>
          <img class="logo" src="../assets/images/logo.png">
        </span>

        <span>
          <nav class="site-navigation">
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
              <li class="nav-item">
                <a href="/home" class="nav-link" routerLink="home">HOME </a>
              </li>
            </ul>
            <ul>
              <li><a href="" class="nav-link">ABOUT US</a></li>
              <li><a href="" class="nav-link">SERVICES</a></li>
              <li><a href="" class="nav-link">DOCTORS</a></li>
              <li><a href="" class="nav-link">CONTACT</a></li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
              <li class="nav-item">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Log In</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
              <li class="nav-item">
                <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
              </li>
              <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
              </li>
            </ul>
          </nav>
        </span>
      </div>
    </header>


    <div class="container">
      <router-outlet></router-outlet>
    </div>

    
    <div style="border-bottom: solid 30px #f2f2f2;"></div>

    <footer class="site-footer">
      <div class="container_1">
        <div class="row_3">

          <div class="col_footer">
            <h2 class="footer-heading_h2">Where are we located</h2>
            <a href="#" class="text-white">
              <span class="mr">
                <img class="icon" src="../assets/images/location-icon.png">
              </span>
              <span>500 Terry Francois Street San Francisco, CA 94158</span>
            </a>
          </div>

          <div class="col_footer">
            <h2 class="footer-heading_h2">Contact</h2>
            <a href="#" class="text-white">
              <span class="mr">
                <img class="icon" src="../assets/images/telephone-icon.png">
              </span>
              <span>+1 (234) 5678 9101</span>
            </a>
          </div>

          <div class="col_footer">
            <h2 class="footer-heading_h2">Follow Us</h2>
            <a href="#"><img class="icon" src="../assets/images/facebook-icon.png"></a>
            <a href="#"><img class="icon" src="../assets/images/instagram-icon.png"></a>
          </div>

        </div>
      </div>
    </footer>
  </div>
</body>