<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-section_green">
        <div class="container_1">
            <h2 class="text_white">Our Services</h2>
        </div>
    </div>

    <div class="container_1">
        <app-service-element></app-service-element>
        <app-service-element></app-service-element>
        <app-service-element></app-service-element>
        <app-service-element></app-service-element>
    </div>
</body>
