<div id="data-grid-demo">
    <dx-data-grid 
        id="gridContainer"
        [dataSource]="dataSource"
        keyExpr="ID"
        [showBorders]="true">
        
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing 
            mode="popup"
            [allowUpdating]="true">
            <dxo-popup
                title="Doctor Info"
                [showTitle]="true"
                [width]="700"
                [height]="525">
            </dxo-popup>
            <dxo-form>
                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                    <dxi-item dataField="FirstName"></dxi-item>
                    <dxi-item dataField="LastName"></dxi-item>
                    <dxi-item dataField="Patronymic"></dxi-item>
                    <dxi-item dataField="Email"></dxi-item>
                    <dxi-item dataField="Phone"></dxi-item>
                    <dxi-item dataField="Specialization"></dxi-item>
                    <dxi-item
                        dataField="Description"
                        editorType="dxTextArea"
                        [colSpan]="2"
                        [editorOptions]="{ height: 100 }">
                    </dxi-item>
                </dxi-item>
                
                <!--<dxi-item itemType="group" caption="Home Address" [colCount]="2" [colSpan]="2">
                    <dxi-item dataField="StateID"></dxi-item>
                    <dxi-item dataField="Address"></dxi-item>
                </dxi-item>-->
            </dxo-form>
        </dxo-editing>
        
        <dxi-column dataField="FirstName"></dxi-column>
        <dxi-column dataField="LastName"></dxi-column>
        <dxi-column dataField="Patronymic"></dxi-column>
        <dxi-column dataField="Email"></dxi-column>
        <dxi-column dataField="Phone"></dxi-column>
        <dxi-column dataField="Specialization"></dxi-column>
        <!--<dxi-column
            dataField="BirthDate"
            dataType="date">
        </dxi-column>-->
        <!--<dxi-column
            dataField="Position"
            [width]="170">
        </dxi-column>-->
        <!--<dxi-column
            dataField="HireDate"
            dataType="date">
        </dxi-column>-->
        <!--<dxi-column
            dataField="StateID"
            caption="State"
            [width]="125">
            <dxo-lookup
                [dataSource]="states"
                displayExpr="Name"
                valueExpr="ID">
            </dxo-lookup>
        </dxi-column>-->
        <!--<dxi-column
            dataField="Address"
            [visible]="false">
        </dxi-column>-->
        <!--<dxi-column
            dataField="Notes"
            [visible]="false">
        </dxi-column>-->
    </dx-data-grid>
</div>
