<head>
  <link rel="preconnect"
    href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
    rel="stylesheet" />
</head>

<body data-spy="scroll"
  data-target=".site-navbar-target"
  data-offset="300">
  <div class="background-image"
    style="background-image: url('../assets/images/main.jpg')">
    <div class="container_1">
      <div class="row_align_center">
        <div class="row">
          <div class="row_parts"
            data-aos="fade-up"
            data-aos-delay="">
            <div class="row_part_green_1">
              <h3 class="row_part_text">{{promoServices[3]?.name}}</h3>
              <p class="p_row_part">{{promoServices[3]?.description}}</p>
              <p class="p_row_part">
                <a href="/services"
                  class="row_btn">Read More</a>
              </p>
            </div>
          </div>

          <div class="row_parts"
            data-aos="fade-up"
            data-aos-delay="100">
            <div class="row_part_green_2">
              <h3 class="row_part_text">{{promoServices[1]?.name}}</h3>
              <p class="p_row_part">{{promoServices[1]?.description}}</p>
              <p class="p_row_part">
                <a href="/services"
                  class="row_btn">Read More</a>
              </p>
            </div>
          </div>

          <div class="row_parts"
            data-aos="fade-up"
            data-aos-delay="200">
            <div class="row_part_green_3">
              <h3 class="row_part_text">{{promoServices[2]?.name}}</h3>
              <p class="p_row_part">{{promoServices[2]?.description}}</p>
              <p class="p_row_part">
                <a href="/services"
                  class="row_btn">Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section_bg-dark">
    <div class="container_1"></div>
  </div>

  <section class="site-section_bg-light">
    <div class="container_1">
      <div class="row_align_center_bg-light">
        <div class="col_align_center">
          <div class="block-heading"
            data-aos="fade-up"
            data-aos-delay="">
            <h2>Why choose us</h2>
          </div>
        </div>
      </div>

      <div class="row_bg-light">
        <div class="row_parts_bg-ligth"
          data-aos="fade-up"
          data-aos-delay="">
          <div class="advantages">
            <img class="icon"
              src="../assets/images/clock-icon.png" />
            <h3 class="advantages_text_green">We Work For You 24/7</h3>

            <p class="p_advantages"
              data-aos="fade-up"
              data-aos-delay="100">
              I'm a paragraph. Click here to add your own text and edit me. Let
              your users get to know you.
            </p>

            <p class="p_row_part">
              <a href="/about"
                class="row_btn"
                routerLink="about">Read More</a>
            </p>
          </div>
        </div>

        <div class="row_parts_bg-ligth"
          data-aos="fade-up"
          data-aos-delay="100">
          <div class="advantages">
            <img class="icon"
              src="../assets/images/equipment-icon.png" />
            <h3 class="advantages_text_green">Modern Equipment</h3>

            <p class="p_advantages"
              data-aos="fade-up"
              data-aos-delay="100">
              I'm a paragraph. Click here to add your own text and edit me. Let
              your users get to know you.
            </p>

            <p class="p_row_part">
              <a href="/about"
                class="row_btn"
                routerLink="about">Read More</a>
            </p>
          </div>
        </div>

        <div class="row_parts_bg-ligth"
          data-aos="fade-up"
          data-aos-delay="200">
          <div class="advantages">
            <img class="icon"
              src="../assets/images/doctors-icon.png" />
            <h3 class="advantages_text_green">Professional Doctors</h3>

            <p class="p_advantages"
              data-aos="fade-up"
              data-aos-delay="100">
              I'm a paragraph. Click here to add your own text and edit me. Let
              your users get to know you.
            </p>

            <p class="p_row_part">
              <a href="/about"
                class="row_btn"
                routerLink="about">Read More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
