<body data-spy="scroll"
  data-target=".site-navbar-target"
  data-offset="300">
  <div class="profile_container">
    <div class="profile_menu">
      <div class="avatar">
        <!--user avatar here-->
        <p>*photo*</p>
        <p>Username</p>
      </div>

      <div class="functionality">
        <!--user functionality here-->
        <button class="btn"
          (click)="goToAccount()">My Account</button>
        <button class="btn"
          (click)="goToPets()">My Pets</button>
        <button class="btn"
          (click)="goToChat()">Chat</button>
      </div>
    </div>

    <div class="clear-fix">
      <div class="container">
        <div *ngIf="showAccount">
          <app-account></app-account>
        </div>
        <div *ngIf="showPets">
          <app-pets></app-pets>
        </div>
        <div *ngIf="showChat">
          <app-chat></app-chat>
        </div>
      </div>
    </div>
  </div>
</body>
